@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <p>
        <li>Το myLanguage αποτελεί μια πολύ καλή πηγή για την εκμάθηση ξένων γλωσσών και μπορεί να παρακολουθήσει κανείς τα μαθήματα δωρεάν.</li>
        <li>Οι μαθητές μαθαίνουν λεξιλόγιο και διάφορες προτάσεις που μπορούν να χρησιμοποιούν καθημερινά.</li>
        <li>Μπορεί να επιλέξει κανείς να μάθει μια γλώσσα ανάμεσα σε 10 γλώσσες που προσφέρει η σελίδα μας.</li>
        <li>Συστήνεται σε μαθητές που επιθυμούν να αποκτήσουν τις βασικές γνώσεις μιας ξένης γλώσσας.</li>
    </p>
                                