@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <strong>Τηλέφωνο: </strong>
    210 5976213
</address>

<address>
    <strong>E-mail: </strong> <a href="mailto:myLanguage@gmail.com">myLanguage@gmail.com</a><br />
</address>