
@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">
        <ul>
            <a href="~/Test/Agglika"> <img src="~/fonts/uk.png" /> </a>
            <li>

                <a href="~/Test/Agglika"> Αγγλικά</a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Alvanika"> <img src="~/fonts/albania.png" /></a>
            <li>
                <a href="~/Test/Alvanika"> Αβανικά </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Gallika"> <img src="~/fonts/france.png" /></a>
            <li>
                <a href="~/Test/Gallika"> Γαλλικά </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Germanika"> <img src="~/fonts/germany.png" /> </a>
            <li>
                <a href="~/Test/Germanika"> Γερμανικά </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Ispanika"> <img src="~/fonts/spain.png" /> </a>
            <li>
                <a href="~/Test/Ispanika"> Ισπανικά </a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <a href="~/Test/Italika"> <img src="~/fonts/italy.png" /> </a>
            <li>
                <a href="~/Test/Italika"> Ιταλικά </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Kinezika"> <img src="~/fonts/china.png" /> </a>
            <li>
                <a href="~/Test/Kinezika"> Κινέζικα </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Koreatika"> <img src="~/fonts/korea.png" /> </a>
            <li>
                <a href="~/Test/Koreatika"> Κορεάτικα </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Rosika"> <img src="~/fonts/russia.png" /> </a>
            <li>
                <a href="~/Test/Rosika"> Ρώσικα </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <a href="~/Test/Tourkika"> <img src="~/fonts/turkey.png" /> </a>
            <li>
                <a href="~/Test/Tourkika"> Τούρκικα </a>
            </li>
        </ul>
    </div>
</div>

