
@model MyLanguage__.Models.Test
@{
    ViewBag.Title = "Rosika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<html>
<head>
    <style>
        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 50px;
            font-style: italic;
        }
        #quiz {
            margin-left: 10px;
            background: #d2def2;
            padding: 20px 30px 20px 30px;
            width: 100%;
            border-radius: 20px;
            float: left;
        }

        input {
            margin-bottom: 20px;
        }

        #after_submit {
            visibility: hidden;
            background: #ff5459;
            padding: 14px 20px 14px 20px;
            width: 400px;
            border-radius: 20px;
            float: left;
            margin-left: 20px;
            font-size: 30px;
        }

        #textbox {
            height: 25px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            padding-left: 5px;
        }

        #button {
            background: green;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: white;
            font-size: 16px;
            transition-duration: .5s;
            margin-top: 15px
        }

            #button:hover {
                background: white;
                border: 1px solid green;
                color: black;
                cursor: pointer;
            }

        #mc {
            display: inline;
        }
    </style>
</head>
<body>
    <form id="quiz" name="quiz">
        <br />
        <p><b>1. Τι σημαίνει "Привет"</b></p>
        <input id="textbox" type="text" name="question1" /><br /><br />

        <p><b>2. Πώς είναι το "Καλημέρα!" στα ρώσικα;</b></p><br />
        <input type="radio" id="mc" name="question2" value="Спокойной ночи!" />Спокойной ночи!<br>
        <input type="radio" id="mc" name="question2" value="Доброе утро!" />Доброе утро!<br>
        <input type="radio" id="mc" name="question2" value="Добрый вечер!" />Добрый вечер!<br><br />

        <p><b>3. Τι σημαίνει "Осёл";</b></p><br />
        <input type="radio" id="mc" name="question3" value="βατραχος" /><img src="~/img/images.jpg" style="width:180px;height:160px;" />
        <input type="radio" id="mc" name="question3" value="Осёл" /><img src="~/img/γαιδουρι.jpg" style="width:170px;height:170px;" /><br><br />

        <p><b>4. Πώς μεταφράζετε το ουσιαστικό "лампочка";</b></p><br />
        <input type="radio" id="mc" name="question4" value="Λάμπα" /> Λάμπα<br>
        <input type="radio" id="mc" name="question4" value="Ομπρέλα" /> Ομπρέλα<br>
        <input type="radio" id="mc" name="question4" value="Κλειδί" />Κλειδί<br><br />

        <p><b>5. Μετάφρασε την λέξη "мама";</b></p><br />
        <input id="textbox" type="text" name="question5" /><br /><br />

        <p><b>6. Τι σημαίνει "футбол";</b></p><br />
        <input type="radio" id="mc" name="question6" value="ποδιλατο" /><img src="~/img/αρχείο λήψης.jpg" style="width:160px;height:160px;" />
        <input type="radio" id="mc" name="question6" value="футбол" /><img src="~/img/Heung-min-Son-925466.jpg" style="width:160px;height:160px;" /><br><br />

        <p><b>7. Τι ώρα είναι το "час один и пять";</b></p><br />
        <input type="radio" id="mc" name="question7" value="02:05" />02:05<br>
        <input type="radio" id="mc" name="question7" value="01:50" />01:50<br>
        <input type="radio" id="mc" name="question7" value="01:05" />01:05<br><br />

        <p><b>8. Μεταφρασε τη φράση "как они говорят?"</b></p><br />
        <input id="textbox" type="text" name="question8" /><br /><br />

        <p><b>9. Τι σημαίνει "телевидение";</b></p><br />
        <input type="radio" id="mc" name="question9" value="телевидение" /><img src="~/img/Samsung.jpg" style="width:160px;height:160px;" />
        <input type="radio" id="mc" name="question9" value="ραδιο" /><img src="~/img/PER.707073.jpg" style="width:160px;height:160px;" /><br><br />

        <p><b>10. Μετάφρασε το ρήμα "играю"</b></p><br />
        <input id="textbox" type="text" name="question10" /><br /><br />

        <input id="button" type="button" value="Τέλος" onclick="check();" />

    </form>
    <div id="after_submit">
        <p id="message"></p>
        <p id="number_correct"></p>
        <img id="picture" />
    </div>

    <script type="text/javascript">
        function check() {
            var question1 = document.quiz.question1.value;
            var question2 = document.quiz.question2.value;
            var question3 = document.quiz.question3.value;
            var question4 = document.quiz.question4.value;
            var question5 = document.quiz.question5.value;
            var question6 = document.quiz.question6.value;
            var question7 = document.quiz.question7.value;
            var question8 = document.quiz.question8.value;
            var question9 = document.quiz.question9.value;
            var question10 = document.quiz.question10.value;
            var correct = 0;
            if (question1 == "Γεια σου") {
                correct++;
            }
            if (question1 == "γεια σου") {
                correct++;
            }
            if (question1 == "Γεια Σου") {
                correct++;
            }
            if (question2 == "Доброе утро!") {
                correct++;
            }

            if (question3 == "Осёл") {
                correct++;
            }

            if (question4 == "Λάμπα") {
                correct++;
            }

            if (question5 == "Μαμά") {
                correct++;
            }
            if (question5 == "μαμά") {
                correct++;
            }

            if (question6 == "футбол") {
                correct++;
            }

            if (question7 == "01:05") {
                correct++;
            }

            if (question8 == "Πως σε λένε;") {
                correct++;
            }
            if (question8 == "πως σε λένε;") {
                correct++;
            }
            if (question8 == "Πως Σε Λένε;") {
                correct++;
            }

            if (question9 == "телевидение") {
                correct++;
            }

            if (question10 == "Παίζω") {
                correct++;
            }
            if (question10 == "παίζω") {
                correct++;
            }

            var message = ["Συγχαρητήρια τα πήγες τέλεια", "Πολύ καλά", " Καλή προσπάθεια", "Μάλλον χρειάζεσαι μια επανάληψη", "Χρειάζεσαι λίγο εξάσκηση ακόμα"]

            var range;
            if (correct == 0) {
                range = 4;
            }
            if (correct == 1) {
                range = 4;
            }
            if (correct == 2) {
                range = 3;
            }
            if (correct == 3) {
                range = 3;
            }
            if (correct == 4) {
                range = 2;
            }
            if (correct == 5) {
                range = 2;
            }
            if (correct == 6) {
                range = 2;
            }
            if (correct == 7) {
                range = 1;
            }
            if (correct == 8) {
                range = 1;
            }
            if (correct == 9) {
                range = 0;
            }
            if (correct == 10) {
                range = 0;
            }

            document.getElementById("after_submit").style.visibility = "visible";

            document.getElementById("message").innerHTML = message[range];
            document.getElementById("number_correct").innerHTML = "Έχεις " + correct + " σωστές απαντήσεις.";
            document.getElementById("picture").src = pictures[range];
        }
    </script>
</body>
</html>
